# Cấu hình kết nối AI (Hỗ trợ OpenAI, OpenRouter, DeepSeek, Ollama, Groq, v.v.)
AI_BASE_URL=https://api.openai.com/v1
AI_API_KEY=your_api_key_here
AI_CHAT_MODEL=gpt-4o-mini
AI_IMAGE_MODEL=dall-e-3
AI_TIMEOUT=300
AI_STREAM=True

# Cấu hình Web Server
HOST=127.0.0.1
PORT=8000
